/* VARIABLES */
:root {
    --nav-bell-color: #FB8F00;
}

/* RESET */
img {
    max-width: 100%;
}

/* COMMON */

/* LAYOUT */
.ms_wrapper {
    width: 100%;
    height: 100vh;
}

/* Header */

/* Bell-button */
.navbar-toggler {
    border: 0;
}

.ms_bell i {
    color: var(--nav-bell-color);
    font-size: 1.2rem;
}
.ms_bell:after {
    display: none;
}

.dropdown-menu.show {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-80%,0);
}
.navbar-toggler:focus {
    box-shadow: none;
}
/* /Bell-button */

/* /Header */

/* Main */

.ms_main {
    width: 100%;
}

/* Side-nav */
.ms_nav {
    width: 10%;
    height: 100%;
    /* debug */
    background-color: blue;
}

@media screen and (min-width: 992px) {
    .ms_nav {
        width: 20%;
    }
}
/* /Side-nav */

/* Main-content */
.ms_content {
    /* debug */
    width: 90%;
    background-color: orange;
}